@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-abel: Abel, sans-serif;
  --font-monoton: Monoton, cursive;
  --font-source-code-pro: Source Code Pro, monospace;
  --font-yesteryear: Yesteryear, cursive;
  --font-montserrat: Montserrat, sans-serif;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  --animate-search-loading: search-loading 1.5s ease-in-out infinite;
  @keyframes search-loading {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  --animate-scroll-text: scroll-text 3s linear infinite;
  @keyframes scroll-text {
    0% {
      transform: translateX(0);
    }
    15% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(var(--scroll-distance, -50%));
    }
    100% {
      transform: translateX(var(--scroll-distance, -50%));
    }
  }

  /* for px-based sizing */
  --breakpoint-laptop: 560px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* for forced dark mode */
  --color-background-dark: hsl(var(--background-dark));
  --color-foreground-dark: hsl(var(--foreground-dark));
  --color-card-dark: hsl(var(--card-dark));
  --color-card-foreground-dark: hsl(var(--card-foreground-dark));
  --color-popover-dark: hsl(var(--popover-dark));
  --color-popover-foreground-dark: hsl(var(--popover-foreground-dark));
  --color-primary-dark: hsl(var(--primary-dark));
  --color-primary-foreground-dark: hsl(var(--primary-foreground-dark));
  --color-secondary-dark: hsl(var(--secondary-dark));
  --color-secondary-foreground-dark: hsl(var(--secondary-foreground-dark));
  --color-muted-dark: hsl(var(--muted-dark));
  --color-muted-foreground-dark: hsl(var(--muted-foreground-dark));
  --color-accent-dark: hsl(var(--accent-dark));
  --color-accent-foreground-dark: hsl(var(--accent-foreground-dark));
  --color-destructive-dark: hsl(var(--destructive-dark));
  --color-destructive-foreground-dark: hsl(var(--destructive-foreground-dark));
  --color-border-dark: hsl(var(--border-dark));
  --color-input-dark: hsl(var(--input-dark));
  --color-ring-dark: hsl(var(--ring-dark));
  --color-chart-1-dark: hsl(var(--chart-1-dark));
  --color-chart-2-dark: hsl(var(--chart-2-dark));
  --color-chart-3-dark: hsl(var(--chart-3-dark));
  --color-chart-4-dark: hsl(var(--chart-4-dark));
  --color-chart-5-dark: hsl(var(--chart-5-dark));
  --color-sidebar-background-dark: hsl(var(--sidebar-background-dark));
  --color-sidebar-foreground-dark: hsl(var(--sidebar-foreground-dark));
  --color-sidebar-primary-dark: hsl(var(--sidebar-primary-dark));
  --color-sidebar-primary-foreground-dark: hsl(
    var(--sidebar-primary-foreground-dark)
  );
  --color-sidebar-accent-dark: hsl(var(--sidebar-accent-dark));
  --color-sidebar-accent-foreground-dark: hsl(
    var(--sidebar-accent-foreground-dark)
  );
  --color-sidebar-border-dark: hsl(var(--sidebar-border-dark));
  --color-sidebar-ring-dark: hsl(var(--sidebar-ring-dark));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  * {
    @apply border-border;
  }

  html {
    font-size: 16px; /* for px-based sizing */
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-montserrat);
  }

  /**
  * `display: table` ensures our content div will match the size of its children in both
  * horizontal and vertical axis so we can determine if scroll width/height changed and
  * recalculate thumb sizes. This doesn't account for children with *percentage*
  * widths that change. We'll wait to see what use-cases consumers come up with there
  * before trying to resolve it.
  */
  /* [data-radix-scroll-area-viewport] > div {
    display: block !important;
  } */
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .scrollbar-track-hidden {
    scrollbar-color: var(--color-muted-foreground) transparent;
  }

  .scrollbar-track-hidden::-webkit-scrollbar-track {
    background: transparent;
  }

  .glowing {
    /* --glowing-color: ... */
    color: white;
    text-shadow:
      -0.1rem -0.1rem 0.5rem #fff,
      0.1rem 0.1rem 0.5rem #fff,
      0 0 1rem var(--glowing-color),
      0 0 2rem var(--glowing-color),
      0 0 3rem var(--glowing-color),
      0 0 4rem var(--glowing-color),
      0 0 5rem var(--glowing-color);
  }

  .animation-glowing {
    /* --glowing-color: ... */
    color: white;
    animation: glowing 1.5s ease-in-out infinite alternate;
  }
}

@layer base {
  :root {
    --background: 216 24% 96%;
    --foreground: 240 5.9% 3.3%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 341 92% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 2% 85%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 0% 20%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 0 0% 100%;
    --ring: 0 1% 34%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 9% 91%;
    --sidebar-accent-foreground: 0 0% 21%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --background-dark: 240 2% 11%;
    --foreground-dark: 214 13.7% 90%;
    --card-dark: 200 4% 15%;
    --card-foreground-dark: 0 0% 98%;
    --popover-dark: 200 4% 15%;
    --popover-foreground-dark: 0 0% 98%;
    --primary-dark: 342 84% 70%;
    --primary-foreground-dark: 240 5.9% 10%;
    --secondary-dark: 240 3.7% 15.9%;
    --secondary-foreground-dark: 0 0% 98%;
    --muted-dark: 210 2% 9%;
    --muted-foreground-dark: 240 5% 64.9%;
    --accent-dark: 0 0% 100%;
    --accent-foreground-dark: 0 0% 98%;
    --destructive-dark: 0 79% 63%;
    --destructive-foreground-dark: 0 0% 98%;
    --border-dark: 240 5% 20%;
    --input-dark: 220 7% 8%;
    --ring-dark: 0 0% 48%;
    --chart-1-dark: 220 70% 50%;
    --chart-2-dark: 160 60% 45%;
    --chart-3-dark: 30 80% 55%;
    --chart-4-dark: 280 65% 60%;
    --chart-5-dark: 340 75% 55%;
    --sidebar-background-dark: 240 5.9% 10%;
    --sidebar-foreground-dark: 240 4.8% 95.9%;
    --sidebar-primary-dark: 224.3 76.3% 48%;
    --sidebar-primary-foreground-dark: 0 0% 100%;
    --sidebar-accent-dark: 240 1% 20%;
    --sidebar-accent-foreground-dark: 240 4.8% 95.9%;
    --sidebar-border-dark: 240 3.7% 15.9%;
    --sidebar-ring-dark: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 2% 11%;
    --foreground: 214 13.7% 90%;
    --card: 200 4% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 200 4% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 342 84% 70%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 2% 9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 79% 63%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 220 7% 8%;
    --ring: 0 0% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 1% 20%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@keyframes glowing {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px var(--glowing-color),
      0 0 70px var(--glowing-color),
      0 0 80px var(--glowing-color),
      0 0 100px var(--glowing-color),
      0 0 150px var(--glowing-color);
  }
  to {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px var(--glowing-color),
      0 0 35px var(--glowing-color),
      0 0 40px var(--glowing-color),
      0 0 50px var(--glowing-color),
      0 0 75px var(--glowing-color);
  }
}
